<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://padamwebapp.org/">Project Dashboard Asset Manager</a>
  is a web application to host project events and assets in the projects.
  This application helps in managing the project assets in a systematic way.
</p>