<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  This pages provides consists of topics to help you understand different features of PDAM Webapp
  <a href="http://pdamwebapp.org/help">Project Dashboard Asset Manager Help Page</a>.
</p>