<footer class="footer">
  <small>
    <a href="https://www.google.com">Project Dashboard Asset Manager : Web Application</a>
    by Saurabh Malode
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="http://darpan.persistent.co.in">Darpan</a></li>
    </ul>
  </nav>
</footer>	